<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}

        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}

        <!--私密功能-->
        {% if page.access == 'password' and page.password_entered != true %}
          {% assign enteredPassword = page.input_password | default: "" %}
          {% if enteredPassword == site.password %}
            {% assign page.password_entered = true %}
            <script>
            localStorage.setItem("password_entered", true);
            </script>
          {% endif %}
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <!--book-body即为网页右侧的正文区域-->
            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {% if page.title %}
                            <a href="." >{{ page.title | escape }}</a>
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}
                    </h1>
                </div>

                <!--@vdadh-->
                <!-- {% if page.url == "/index.html" or page.url == "/" %}
                    <div id="main" role="main" class="wrapper-content">
                        <div class="container">
                            {{ content }}
                        </div>
                    </div>
				{% else %} -->
                <!--@vdadh-->

                    <!--私密功能-->
                    <div class="body-inner">
                        {% if page.access == 'password' %}
                          {% if page.password_entered %}
                            {%- include body.html -%}
                          {% else %}
                            <form method="post" action="{{ page.url }}">
                              <input type="password" name="password" placeholder="Enter the password">
                              <button type="submit">Submit</button>
                            </form>
                          {% endif %}
                        {% else %}
                          {%- include body.html -%}
                        {% endif %}

                        <!-- {%- include body.html -%} -->

                        {% if reversed_posts %}
                            <a href="{{site.baseurl}}{{reversed_posts.first.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{reversed_posts.first.title}}">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        {% endif %}
                    </div>
                <!-- {% endif %} -->
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

        <!--私密功能-->
        <script>
        document.addEventListener("DOMContentLoaded", function() {
          var passwordForm = document.querySelector("form");
          if (passwordForm) {
            passwordForm.addEventListener("submit", function(e) {
              e.preventDefault();
              var passwordInput = passwordForm.querySelector("input[name='password']");
              var enteredPassword = passwordInput.value.trim();
              var correctPassword = "{{ site.password }}";
              if (enteredPassword === correctPassword) {
                localStorage.setItem("password_entered", true);
                window.location.reload();
              } else {
                alert("Incorrect password! Please try again.");
                passwordInput.value = "";
              }
            });
          }
        });
        </script>
    </body>
</html>