<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% if page.previous %}
            <link rel="prev" href="{{site.baseurl}}{{page.previous.url}}" />
        {% else %}
            <link rel="prev" href="{{site.baseurl}}/" />
        {% endif %}

        {% if page.next %}
            <link rel="next" href="{{site.baseurl}}{{page.next.url}}" />
        {% endif %}
        <!--@vdadh引入Gitalk的css和JavaScript文件-->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gitalk/dist/gitalk.min.css">
        <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {% if page.title %}
                            <a href="." >{{ page.title | escape }}</a>
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}  
                    </h1>
                </div>

                <div class="body-inner">
					
					{% if page.access == 'password' %}
					    {% if page.password_entered %}
					        {%- include body.html -%}
					    {% else %}
					    <form method="post" action="{{ page.url }}">
					        <input type="password" name="password" placeholder="Enter the password">
					        <button type="submit">Submit</button>
					    </form>
					    {% endif %}
					{% else %}
					    {%- include body.html -%}
					{% endif %}
					
                    <!-- {%- include body.html -%} -->
					
                    <!--首页无左箭头-->
                    {% if page.url == "/index.html" or page.url == "/" %}
                    {% else %}
                        {% if page.previous %}
                            <a href="{{site.baseurl}}{{page.previous.url}}" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{page.previous.title}}">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        {% elsif page.url == "/about/" %}
                        <a href="{{site.baseurl}}/" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{site.title}}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        {% else %}
                        <a href="/tags/" class="navigation navigation-prev navigation-unique" aria-label="Previous page: 标签">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        {% endif %}
                    {% endif %}

                    {% if page.url == "/index.html" or page.url == "/" %}
                        <a href="/about/" class="navigation navigation-next navigation-unique" aria-label="Next page: 关于">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    {% else %}
                        {% if page.next %}
                            <a href="{{site.baseurl}}{{page.next.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{page.next.title}}">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        {% else %}
                        <a href="{{site.baseurl}}/" class="navigation navigation-next navigation-unique" aria-label="Next page: {{site.title}}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>